@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");

.App {
  text-align: center;
  margin-top: 65px;
  margin-left: -8px;
}

.MuiBackdrop-root {
  background: rgba(0, 0, 0, 0.02) !important;
}
.MuiTableCell-root,
.MuiTypography-body1,
.MuiTypography-body2,
.MuiTypography-h6,
.MuiTypography-h5,
.MuiFormLabel-root,
.MuiButton-root,
.MuiInputBase-root,
.MuiMenuItem-root,
.MuiPaper-root {
  font-family: "Comfortaa", cursive !important;
}
