.container-articles {
    display: grid;
    padding: 10px 50px;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 20px;
    justify-content: center;
    .article {
        padding: 10px;
        transition: all 0.5s ease;
        &:hover {
            transform: scale(1.05);
        }
        .content-article {
            .image-article {
                height: 200px;
                width: 100%;
                margin-right: 5px;
                border-radius: 5px;
            }
            h6 {
                font-weight: bold;
                color: #2468a2;
            }
            p {
                font-size: small;
                margin-bottom: 5px;
            }
            .read-more {
                color: crimson;
                transition: all 0.5s ease;
                &:hover {
                    color: white;
                    background: crimson;
                }
            }
        }
    }
}
