.container-details {
  background: linear-gradient(45deg, #41aba1, #112bcc);
  padding: 50px;
  .content-details {
    width: 50%;
    padding: 50px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    a {
      text-decoration: none;
      h6 {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background: crimson;
        color: white;
        padding: 1px 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          background: #f3738c;
        }
      }
    }
  }
}
