.left-bar {
  color: #2468a2;
  position: fixed;
  ul a {
    text-decoration: none;
    li {
      margin-bottom: 5px;
      &:hover {
        background: #2468a2;
        border-radius: 5px;
        color: white;
      }
    }
  }
}
