.view-button {
  color: #2469a2 !important;
}
.edit-button {
  color: orange !important;
}
.delete-button {
  color: crimson !important;
}
.modal-edit {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  form {
    border-radius: 5px;
    box-shadow: 0 2px 15px 5px #f1f1f1;
    margin-top: 5%;
    width: 400px;
    background: white;
    padding: 20px;

    .input-edit {
      margin-bottom: 10px;
    }
  }
}
