.box-card {
  width: 400px;
  background-color: #ff6745 !important;
  .avatar-profile {
    margin: 10px 0;
    color: white;
    .avatar {
      height: 150px;
      width: 150px;
      margin: auto;
      border-radius: 50%;
    }
  }
  .header-card {
    text-align: right;
  }
  .about-card {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
    background: white;
    padding: 30px 0 20px;
    margin-top: 20px;
    button {
      color: #ff6745;
    }
    .text-button-collapse {
      color: #333;
    }
    .expand {
      transform: rotate(0deg);
      transition: all 0.5s ease;
    }
    .expandOpen {
      transform: rotate(180deg);
      transition: all 0.5s ease;
      margin-top: 0;
    }
    &::before {
      content: "Profile";
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
      padding: 5px;
      position: absolute;
      background: white;
      border-radius: 15px;
      box-shadow: 0 2px 10px 2px #ff6754;
      color: #ff6745;
      font-size: 1.2rem;
      font-family: "Segoe UI", sans-serif;
    }
    .about-content {
      p {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;
      }
    }
  }
}
