.login-form {
  width: 400px;
  margin: auto;
  margin-top: 100px;
  padding: 20px 10px;
  .error-color {
    border: 0.5px solid white;
    background: #fcd1d1;
    color: crimson;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    sup {
      cursor: pointer;
    }
  }
  .none {
    display: none;
  }
  .margin-bottom {
    margin-bottom: 15px;
  }
}
