.container-box {
  display: grid;
  padding: 10px 50px;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 20px;
  justify-content: center;
  .product {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    transition: all 0.5s ease;
    &:hover {
      transform: scale(1.05);
    }
    .image-product {
      width: 100%;
      height: 200px;
      margin-right: 5px;
      border-radius: 50px;
    }
    .content-product {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      h6 {
        font-weight: bold;
        color: #2468a2;
      }
      p {
        font-size: small;
        margin-bottom: 5px;
      }
      .add-to-cart {
        color: crimson;
        transition: all 0.5s ease;
        &:hover {
          color: white;
          background: crimson;
        }
      }
      .view-detail-product {
        color: #2468a2;
        &:hover {
          color: white;
          background: #2468a2;
        }
      }
    }
  }
}
