.create-product {
  margin-top: 20px;
  form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    .MuiPaper-root {
      padding: 20px;
      .input-create {
        margin-bottom: 10px;
      }
    }
  }
}
